%form.story#story{:action => "/home/result", :method => "get"} 

  %h1 So, what's the story? 
  
  Who is
  %input{:type => "text", :name => "question" }
  
  %h1 And, your names?
                           
  .user#users                                 
    %input{:type => "text", :name => "user[]"}
    %input{:type => "text", :name => "user[]"}
    %img{:src => "/images/user_add.png", :id => "user_add"}
  
  %input{:type => "submit", :name => "choose", :value => "Let the dice roll", :id => "submit"}              
  
#result
