<div id="container">
   <div id="header-container">  
     <h1>Who is going?</h1>
     <hr />
   </div>
   
   <div id="left-container">    
     <h2>History</h2>     
     <p>It's always the same. If it is coffee time
       everybody was the last time go fetch some good
       coffee or cake...</p>    
     <p>Who is going to send the mail to the boss,
       requesting a pay raise?</p>
      
     <h2>Present</h2>
     <p>Whew.. these times are over now. Only enter
       the question to the right and the names. 
       <em>Whoisgoing?</em> will choose the person to fulfill the
       task - <em>for free and instantly</em></p>
   </div>
   
   <div id="main-container">         
     <%= partial "questionaire" %>
   </div>
   
   <div id="footer-container">
     A <%= link_to "grundprinzip.de", "http://blog.grundprinzip.de" %> 
     production, (c) 2008
   </div>
   
 </div>